<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ла Поркета - Контакти</title>
		<link href='../bootstrap/css/bootstrap.css' rel='stylesheet'>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Fredericka+the+Great|Open+Sans+Condensed:300" rel="stylesheet">
		<link rel="stylesheet" href="../icons/font-awesome/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
		<link rel="shortcut icon" href="../images/favicon.ico">
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid">
			<header>
				<p>Ла Поркета</p>
				<div class="nav" id="nav">
					<a href="index.html">Начало</a>
					<a href="menu.html">Меню</a>
					<a href="catering.html">Keтъринг</a>
					<a href="delivery.html">Доставка</a>
					<a href="about.html">За Нас</a>
					<a href="contact.html">Контакти</a>
				</div>
			</header>
			<div class="container">
				<p class="intro">Инфорамция</p>
                   Адрес : ул. „Тодор Александров“ № 16, 4013 ж.к. Христо Ботев - Север, Пловдив
				<br>
				<br>
				Работно време :
				Понеделник 7:30ч.–18:00ч.
				<br>
				Вторник	7:30ч.–18:00ч.
				<br>
				Сряда 7:30ч.–18:00ч
				<br>
				Четвъртък 7:30ч.–18:00ч.
				<br>
				Петък 7:30ч.–18:00ч.
				<br>
				Събота 7:30ч.–14:00ч.
				<br>
				Неделя Затворено
				<br>
				<br>
				<div class="mapouter"><div class="gmap_canvas"><iframe width="550" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=%D0%BB%D0%B0%20%D0%BF%D0%BE%D1%80%D0%BA%D0%B5%D1%82%D0%B0&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="5" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:400px;width:500px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:450px;}</style></div>
			</div>
			<div class="footer">
				<a href="https://www.facebook.com/PorchettaPlovdiv" class="fa fa-facebook" style="border: solid 2px rgba(59,89,152,1);background: rgba(59,89,152,1);"></a>
				<a href="" class="fa fa-envelope" style="border: solid 2px #EF3636 ;background: #EF3636;"></a>
			</div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		</div>
	</body>
</html>
